.fade-in{
    animation: fade 1s ease forwards;
}

.fade-out{
    animation: fade 1s ease reverse;
}

.scale-in{
    animation: scale 1s ease forwards;
}

.scale-out{
    animation: scale 1s ease reverse;
}

.spin-in{
    animation: spin 1s ease forwards;
}

.spin-out{
    animation: spin 1s ease reverse;
}

@keyframes scale{
    0%{transform: translate(-50%, -50%) scale(0)}
    75%{transform: translate(-50%, -50%) scale(1.2)}
    100%{transform: translate(-50%, -50%) scale(1)}
}

@keyframes spin{
    0%{transform: translate(-50%, -50%) scale(0) rotate(0deg); opacity: 0}
    100%{transform: translate(-50%, -50%) scale(1) rotate(360deg); opacity: 1}
}

@keyframes fade{
    0%{opacity: 0}
    100%{opacity: 1}
}
